* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #181717;
  font-family: 'Bebas Neue', arial;
}

html {
  font-size: 62.5%;
}

a {
	background-color: inherit;
	color: inherit;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

footer {
	height: auto;
	min-height: 15rem;
	width: 100%;
	background-color: #fcf7f0;
}

.flex-center {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.container {
	height:100%;
	width: 100%;
}

.top-container {
	height: auto;
	min-height: 15rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.middle-container {
	height: auto;
	min-height: 37rem;
	width: 100%;
	border: 1px solid green;
	margin-top: 15rem;
}

.page-title {
	width: 100%;
	height: auto;
	font-size: 4rem;
	color: #181717;
	background-color: #fcf7f0;
}

.store-item {
	width: 68rem;
	height: 28rem;
	color: #181717;
	background-color: #fcf7f0;
	margin: 2rem;
}

.store-image {
	height: 100%;
	width: 40%;
	border: 0.25em solid white;
}

.product-image {
	height: 100%;
	width: 100%;
	background-image: url(https://github.com/Muffin135/Dark-Rider-Studios/blob/master/hoeing.png?raw=true);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.store-info {
	height: 100%;
	width: 60%;
	background-color: blue;
	margin: 0;
	padding: 0;
	border-left: 0.35rem solid #181717;
}

.logo {
	border-bottom: 0.25rem solid #181717;
	background-color: #fcf7f0;
	height: 50%;
	width: 100%;
}

#page-title {
	background-color: inherit;
	color: #181717;
	font-size: 5rem;
}

#motto {
	height: 35%;
	width: 100%;
	background-color: inherit;
	color: #181717;
	text-align: center;
	font-size: 1.5rem;
}

.menu-button {
	font-size: 5rem;
	color: #181717;
	background-color: red;
	height: 0%;
	width: 0%;
}

.menu-bar {
	height: 50%;
	width: 100%;
	background-color: #fcf7f0;
}

.menu {
	background-color: inherit;
	list-style-type: none;
	width: 100%;
	height: 100%;
}

.menu-link {
	margin: 1rem 1rem;
	border: 0.25rem solid #181717;
	font-size: 3rem;
	width: 15%;
	height: auto;
	transition: 0.5s;
}

.menu-item {
	color: #181717;
	background-color: #fcf7f0;
	text-align: center;
}

.menu-link:hover {
	box-shadow: 0.25rem 0.25rem #181717;
}

.menu-link:focus {
	box-shadow: 0.25rem 0.25rem #181717;
}

.footer-column {
	height: 12rem;
	width: 25%;
	margin: auto;
	background-color: #fcf7f0;
	color: #181717;
	overflow: hidden;
}

.footer-header {
	background-color: inherit;
	font-size: 3rem;
	margin: auto;
}

.footer-menu {
	background-color: inherit;
	list-style-type: none;
	margin: auto;
}

.footer-menu-item {
	background-color: inherit;
	font-size: 2rem;
	margin: 0.5rem;
	text-align: left;
}

.copyright {
	height: 3rem;
	width: 100%;
	color: #181717;
	background-color: #fcf7f0;
	text-align: center;
	font-size: 2em;
}

@media only screen and (max-width: 600px) {
	
	html {
		font-size: 50%;
	}
  
	footer {
		display: inline-block;
		width: 100%;
	}
	
	.menu {
		display: none;
	}
	
	.menu-button {
		width: 10%;
		height: 55%;
		border: 2px solid #181717;
	}
	
	.menu-item {
		color: #181717;
		background-color: inherit;
		margin: 1rem 1rem;
		font-size: 3rem;
		width: 100%;
		height: auto;
		transition: 0.5s;
	}
	
	.menu-item:hover {
		box-shadow: none;
		border: none;
	}
	
	.store-item {
		width: 100%;
		height: 28rem;
		color: #181717;
		background-color: #fcf7f0;
		margin: 2rem;
	}
	
	.footer-column {
		display: inline-block;
		width: 60%;
		margin: 1rem 1rem;
		height: auto;
	}
	
	.footer-menu-item {
		text-align: center;
	}
	
	.footer-header {
		text-align: center;
	}
  
}



